@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 235, 236; /* Lighter gray */
  --background-end-rgb: 230, 230, 255; /* Light lavender */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 44, 52; /* Dark gray */
    --background-end-rgb: 25, 25, 30; /* Darker gray */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  user-select: none;
}

/* GLOBAL END HERE */

