.project {
  padding: .75rem;
  background: rgba(255, 255, 255, .3);
  border-radius: 1.75rem;
  box-shadow: 0 2rem 5rem -1rem rgba(0, 16, 36, 9%), inset 0 1px rgba(255, 255, 255, .6);
  backdrop-filter: blur(2px);
}

.projectMobile {
  padding: .75rem;
  background: rgba(255, 255, 255, .3);
  border-radius: 2rem;
  box-shadow: 0 2rem 5rem -1rem rgba(0, 16, 36, 9%), inset 0 1px rgba(255, 255, 255, .6);
  backdrop-filter: blur(2px);
}

.fontsans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* .incomplete {
  position: relative;
  border-radius: 0.75rem;
}

.incomplete::before,
.incomplete::after {
  content: "";
  position: absolute;
  background:  linear-gradient(to bottom right, rgba(230, 230, 255), rgb(230, 230, 255)) padding-box, linear-gradient(to bottom right, rgb(215, 215, 255), rgb(170, 155, 255)) border-box;
}

.incomplete::before {
  top: 0;
  left: 0;
  width: 10%;
  height: 5rem;
  border-top-left-radius: 0.75rem;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.incomplete::after {
  bottom: 0;
  right: 0;
  width: 10%;
  height: 5rem;
  border-bottom-right-radius: 0.75rem;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
} */

.incomplete {
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: 
  radial-gradient(circle at 100% 100%, rgb(230, 230, 255) 0, rgb(230, 230, 255) 4px, transparent 4px) 0% 0%/10px 10px no-repeat,
  radial-gradient(circle at 0% 100%, rgb(230, 230, 255) 0, rgb(230, 230, 255) 4px, transparent 4px) 100% 0%/10px 10px no-repeat,
  radial-gradient(circle at 100% 0%, rgb(230, 230, 255) 0, rgb(230, 230, 255) 4px, transparent 4px) 0% 100%/10px 10px no-repeat,
  radial-gradient(circle at 0% 0%, rgb(230, 230, 255) 0, rgb(230, 230, 255) 4px, transparent 4px) 100% 100%/10px 10px no-repeat,
  linear-gradient(rgb(230, 230, 255), rgb(230, 230, 255)) 50% 50%/calc(100% - 0.625rem) calc(100% - 0.625rem) no-repeat,
  linear-gradient(rgb(230, 230, 255), rgb(230, 230, 255)) 50% 50%/calc(100% - 0.625rem) calc(100% - 0.625rem) no-repeat,
  linear-gradient(to bottom right, rgb(215, 215, 255), rgb(170, 155, 255) 10%, transparent 10%, transparent 90%, rgb(215, 215, 255) 90%, rgb(170, 155, 255));
}

@keyframes gradient {
  0% {
    background-image: linear-gradient(to right, rgb(215, 215, 255), rgb(170, 155, 255))  
  }
  20% {
    background-image: linear-gradient(to right, rgb(215, 215, 255) 48%, rgb(170, 155, 255) 88%, rgb(215, 215, 255))  
  }
  40% {
      background-image: linear-gradient(to right, rgb(215, 215, 255) 36%, rgb(170, 155, 255) 76%, rgb(215, 215, 255))  
    }
  60% {
    background-image: linear-gradient(to right, rgb(215, 215, 255) 24%, rgb(170, 155, 255) 64%, rgb(215, 215, 255))  
  }
  80% {
    background-image: linear-gradient(to right, rgb(215, 215, 255) 12%, rgb(170, 155, 255) 52%, rgb(215, 215, 255))  
  }
  100% {
    background-image: linear-gradient(to left, rgb(215, 215, 255), rgb(170, 155, 255))  
  }
}

.animateGradient {
  animation: gradient 1.5s ease infinite alternate;
}

.contactInput {
  border-bottom: 2px solid transparent;
  background: linear-gradient(to bottom right, rgba(230, 230, 255), rgb(230, 230, 255)) padding-box, linear-gradient(to bottom right, rgb(215, 215, 255), rgb(170, 155, 255)) border-box;
}

.label {
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.contactInput:focus + .label,
.contactInput:not(:placeholder-shown) + .label {
  top: -8px;
  font-size: 12px;
}

@media screen and (prefers-color-scheme: dark) {
  .incomplete {
    background: radial-gradient(circle at 100% 100%, rgb(25, 25, 30) 0, rgb(25, 25, 30) 4px, transparent 4px) 0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0% 100%, rgb(25, 25, 30) 0, rgb(25, 25, 30) 4px, transparent 4px) 100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0%, rgb(25, 25, 30) 0, rgb(25, 25, 30) 4px, transparent 4px) 0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0% 0%, rgb(25, 25, 30) 0, rgb(25, 25, 30) 4px, transparent 4px) 100% 100%/10px 10px no-repeat,
    linear-gradient(rgb(25, 25, 30), rgb(25, 25, 30)) 50% 50%/calc(100% - 0.625rem) calc(100% - 0.625rem) no-repeat,
    linear-gradient(rgb(25, 25, 30), rgb(25, 25, 30)) 50% 50%/calc(100% - 0.625rem) calc(100% - 0.625rem) no-repeat,
    linear-gradient(to bottom right, rgb(215, 215, 255), rgb(170, 155, 255) 10%, transparent 10%, transparent 90%, rgb(215, 215, 255) 90%, rgb(170, 155, 255));
  }
  
  .contactInput {
    background: linear-gradient(to bottom right, rgba(25, 25, 30), rgb(25, 25, 30)) padding-box, linear-gradient(to bottom right, rgb(215, 215, 255), rgb(170, 155, 255)) border-box;
  }
  
}

@media screen and (max-width: 640px) {
  .project {
    padding: .5rem;
    border-radius: 1.5rem;
  }
  
  .projectMobile {
    padding: .5rem;
    border-radius: 1.75rem;
  }
  }